# IBMCapstone_W4

# The Battle of Neighborhoods and Cities

##### This Markdown file is meant to explain the process of dealing with analysis problems of the neighborhoods/cities based on the rating for each venue category based on the statistics of foursquare.com

- Author: WENCAI
- Date: 20190909

#### 0. Status Quo / Question raised
Sometimes we always ask ourselves, what will happen if we can move to another neighborhood within the city or even more interesting, what will happen if we can move to another city even?
- Which city should I choose?
- Which neighborhood should I choose? 
- Will the new neighborhood be suitable for me?

Well, for this time, we assume you get a job opportunity, both in Toronto and New York. The good news is, we can utilize the data/information which is available in foursquare.com and we will try to cluster the neighborhoods between the two cities and then try to find out the "set" of neighborhoods which you can choose between these two cities.

#### 1. Where do we want to go:
We would like to use the KMeans clustering method to determine the neighborhood similarity for all the neighborhoods of the cities New York and Toronto. The similarity is determined by the rating of different categories within the neighborhood. Neighborhood A with good cafe in New York should belong to the same cluster together with neighborhood B with good cafe in Toronto. So that those who live in the Neighborhood A can choose to live in Neighborhood B, if they move their home.

Assume that we get altogether k clusters as a result. At the end of the day, we will get k "set" of neighborhoods, where the residents wont experience much differences regarding the quality of living.

#### 2. How can we go to the target:
- foursquare API:
    - venue detail: venue + rating + category (1)
    - explore: venue + lattitude + longtitude (2)
- cities, which contain neighborhood information (3)
- google maps API, which contains lattitude + longitude + neighborhood (4)

In [17]:
# as usual i will hide the credential
client_id=""
client_secret=""

This is how you can get the explore list based on an example of lattitude and longitude:
* explore: venue + lattitude + longtitude (2)

In [18]:
import json, requests
url_ex = 'https://api.foursquare.com/v2/venues/explore'

params_ex = dict(
  client_id=client_id,
  client_secret=client_secret,
  v='20180323',
  ll='40.7243,-74.0018', # as example, later will be using a "for" loop
  radius=600,
  limit=100
)

req_ex = requests.get(url=url_ex, params=params_ex)
data_ex = json.loads(req_ex.text)

In [44]:
# we take the item number 0 as the example here
print("venue_ID: ", data_ex["response"]['groups'][0]['items'][0]['venue']['id'])
print("venue_Name: ", data_ex["response"]['groups'][0]['items'][0]['venue']['name'])
print("venue_lattitue: ", data_ex["response"]['groups'][0]['items'][0]['venue']['location']['lat'])
print("venue_longitude: ", data_ex["response"]['groups'][0]['items'][0]['venue']['location']['lng'])

venue_ID:  4bc11de1abf49521cf98c093
venue_Name:  Dance With Me SoHo
venue_lattitue:  40.72257786685151
venue_longitude:  -74.00136338778867

Then we take the ID above as the example to check the venue details.
* This is how you get the rating and category (1)

In [30]:
import json, requests
venue_id="4bc11de1abf49521cf98c093"
url_ve = 'https://api.foursquare.com/v2/venues/{}'.format(venue_id)

params_ve = dict(
  client_id=client_id,
  client_secret=client_secret,
  v='20180323'
)
req_ve = requests.get(url=url_ve, params=params_ve)
data_ve = json.loads(req_ve.text)

In [43]:
print("venue_id: ",data_ve["response"]["venue"]["id"])
print("venue_name: ",data_ve["response"]["venue"]["name"])
print("venue_rating: ",data_ve["response"]["venue"]["rating"])
print("venue_category: ",data_ve["response"]["venue"]["categories"][0]["name"])

venue_id:  4bc11de1abf49521cf98c093
venue_name:  Dance With Me SoHo
venue_rating:  9.3
venue_category:  Dance Studio

If we talk about the location files, we will use the available ones from the course.
* Here you will see the lattitude + longtitude + neighborhood (3) (4)

Example for Toronto:

In [46]:
import pandas as pd
post_df_can=pd.read_csv("post_df_can.csv")
post_df_can

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

Example for New York:

In [50]:
post_df_ny=pd.read_csv("post_df_ny.csv")
post_df_ny.shape

(306, 5)