# Coursera_IBMCapstone Project
### This will be the Notebook being used for the Coursera_IBMCapstone Project
#### Author: WENCAI
#### Date: 20190901
#### Environment: Jupyter notebook + Python 3.6 + GitBash + Anaconda

In [2]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [8]:
raw_post_can=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
raw_post_df=raw_post_can[0]

* Download the data using pandas.read_html
* Put the required table in the form of panda dataframe
* Show the first head of the dataframe

In [10]:
raw_post_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

* remove the rows if the Borough fields are with "Not assigned"
* subsetting based on the Neighbourhood
* rewrite the value
* append the subsets

In [57]:
post_df=raw_post_df[raw_post_df.Borough!="Not assigned"]
na_row_indexer=post_df.Neighbourhood=="Not assigned"
na_post_df1=post_df[~na_row_indexer] # subset with not na
na_post_df2=post_df[na_row_indexer] # subset with na
na_post_df2.Neighbourhood=na_post_df2.Borough # rewrite the value
post_df=pd.concat([na_post_df1,na_post_df2]) # append rows

    Postcode       Borough          Neighbourhood
283      M8Z     Etobicoke              Mimico NW
284      M8Z     Etobicoke     The Queensway West
285      M8Z     Etobicoke  Royal York South West
286      M8Z     Etobicoke         South of Bloor
8        M7A  Queen's Park           Queen's Park

* subset the dataframe between Borough and Neighbourhood
* use lambda to join the string of neighbourhood, after groupby postcode
* show the result

In [79]:
post_bo=post_df[["Postcode","Borough"]].drop_duplicates().sort_values("Postcode").reset_index().drop(columns=["index"])
post_nb=post_df.groupby("Postcode")["Neighbourhood"].apply(lambda x: ", ".join(x))
post_df=pd.merge(post_bo,post_nb,how="left",on="Postcode")
print(post_df.shape)
post_df

(103, 3)

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]